/* Index CSS */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    color: white;
    background: #339ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
